.about {
  width: 320px;
  padding: 41px 0 40px;
  margin: 0 auto;
}

.about__container {
  padding: 0 15px;
}

.about__description {
  padding: 37px 0 35px;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 8px;
  }

  p:last-child {
    display: none;
  }

  br {
    display: block;

    &:first-child {
      display: none;
    }
  }
}

.about__title {
  @include title;

  text-align: start;
  margin-bottom: 11px;
}

.about__subtitle {
  @include subtitle;

  text-align: start;
}

.about__visual-image {
  margin-bottom: 36px;
  object-fit: cover;

  img {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .about {
    width: 768px;
    padding: 61px 45px 35px;
  }

  .about__container {
    padding: 0;
  }

  .about__title {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 19px;
  }

  .about__subtitle {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .about__description {
    max-width: 502px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 36px 0;

    br {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  .about__visual-image {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 1366px;
    display: flex;
    padding: 120px 103px 125px;
    gap: 145px;
  }

  .about__container {
    max-width: 355px;
  }

  .about__title {
    font-size: 54px;
    line-height: 54px;
    text-align: start;
    margin-bottom: 26px;
  }

  .about__subtitle {
    font-size: 22px;
    line-height: 22px;
    text-align: start;
  }

  .about__description {
    text-align: start;
    padding: 94px 0 0;

    br {
      display: none;

      &:first-child {
        display: none;
      }
    }

    p:last-child {
      display: block;

      br {
        display: block;
      }
    }
  }
}
