.faq-button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.faq-button__button {
  display: block;
  width: 140px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 14px 22px;
  border: 1px solid hsla(221, 68%, 20%, 0.2);
  background: transparent;
  cursor: pointer;

  &:hover {
    border: 1px solid #102654;
  }

  &--active:hover {
    border: 1px solid #102654;
    color: #102654;
    background: transparent;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    padding: 14px 23px;
    border: 1px solid #102654;
    background: #ffffff;
    color: #102654;
  }

  &--active,
  &:active {
    border: 1px solid transparent;
    border-image: linear-gradient(97deg, #ed0233 18%, #003eb7 95%) 1;
    color: #ffffff;
    background: linear-gradient(97deg, #ed0233 18%, #003eb7 95%);
  }

  &:disabled {
    color: #c8c9cc;
  }
}

@media (min-width: $tablet-width) {
  .faq-button {
    margin-bottom: 45px;
  }

  .faq-button__button {
    width: 162px;
    font-size: 18px;
    line-height: 18px;
    padding: 17px 28px;
  }
}

@media (min-width: $desktop-width) {
  .faq-button {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 0;
    margin: 0;
    margin-top: 1px;
  }

  .faq-button__button {
    width: 260px;
    padding: 20px 28px 14px;

    &:hover {
      padding: 20px 28px 14px;
    }

    &:focus-visible {
      padding: 20px 28px 14px;
    }
  }
}
