.header {
  width: 320px;
  margin: 0 auto;
  padding: 15px 15px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 20px;
  display: block;
}

.header__number-phone {
  min-width: 149px;
  font-family: $main-font;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  user-select: none;
  font-size: 22px;
  font-weight: 700;
  text-align: end;

  &:hover {
    color: hsla(224, 61%, 28%, 0.5);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    color: #1c3374;
  }

  &:active {
    color: #102654;
    text-decoration-line: underline;
    text-underline-offset: 6px;
  }

  &:disabled {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .header {
    width: 768px;
    padding: 30px 45px;
  }

  .header__logo {
    width: 110px;
    height: 22px;
  }

  .header__number-phone {
    min-width: 162px;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: 1366px;
    padding: 30px 103px 28px;
  }

  .header__logo {
    width: 130px;
    height: 26px;
    margin-bottom: 2px;
  }

  .header__number-phone {
    min-width: 176px;
    font-size: 26px;
    line-height: 26px;
    padding-top: 2px;
  }
}
