.juri {
  width: 320px;
  padding: 41px 15px 40px;
  margin: 0 auto;
  overflow: hidden;
}

.juri__title {
  @include title;

  margin-bottom: 19px;
}

.juri__swiper {
  width: 260px;
}

.juri__container {
  width: 100%;
  position: relative;
}

.juri__image {
  display: block;
}

.juri__button-prev {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 1px;

  .juri__button-icon {
    color: #102654;
    margin: 0 auto;
  }

  &:hover {
    border: 1px solid #102654;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    border: 1px solid #102654;
    background: #e8e8e8;
  }

  &:active {
    background: #102654;

    .juri__button-icon {
      color: #ffffff;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.juri__button-next {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 2px;

  .juri__button-icon {
    color: #102654;
    margin: 0 auto;
  }

  &:hover {
    border: 1px solid #102654;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    border: 1px solid #102654;
    background: #e8e8e8;
  }

  &:active {
    background: #102654;

    .juri__button-icon {
      color: #ffffff;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.juri__item {
  position: relative;
  display: block;
  background: #687186;
  width: 100%;
  min-height: 300px;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    .juri__name {
      display: none;
    }

    .juri__description {
      display: block;
    }
  }
}

.juri__name {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  margin-bottom: 24px;
}

.juri__description {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 42px 51px 41px;
  color: #ffffff;
  background: hsla(221, 68%, 20%, 0.89);
  text-align: center;
}

.juri__description-name {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 8px;
}

.juri__description-specialty {
  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;
  margin: 0;
  margin-bottom: 34px;
}

.juri__description-list {
  @include list;

  max-width: 160px;
  margin: 0 auto;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
}

.juri__description-item {
  padding-left: 16px;
  position: relative;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #ffffff;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .juri {
    width: 768px;
    padding: 30px 45px 60px;
  }

  .juri__title {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 46px;
  }

  .juri__swiper {
    width: 560px;
  }

  .juri__button-prev {
    display: block;
  }

  .juri__button-next {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .juri {
    width: 1366px;
    padding: 100px 103px;
  }

  .juri__swiper {
    width: 1160px;
  }

  .juri__button-prev {
    left: -69px;
    margin-top: -1px;
  }

  .juri__button-next {
    right: -72px;
    margin-top: 0;
  }

  .juri__image {
    width: 100%;
    height: 100%;
  }

  .juri__item:hover {
    .juri__name {
      display: none;
    }

    .juri__description {
      display: block;
    }
  }
}
