.tab-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 2px solid hsla(0, 0%, 47%, 0.2);
  margin-bottom: 30px;
  row-gap: 12px;
}

.tab-button__button {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  padding-bottom: 6px;
  color: hsla(221, 68%, 20%, 0.5);
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  background: none;

  &:hover {
    color: hsla(221, 68%, 20%, 0.7);
    text-decoration: underline;
    text-decoration-color: #787878;
    text-decoration-thickness: 2px;
    text-underline-offset: 9px;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    color: #102654;
    text-decoration: underline;
    text-decoration-color: #102654;
    text-decoration-thickness: 2px;
    text-underline-offset: 9px;
  }

  &--active,
  &:active {
    color: #102654;
    text-decoration: underline;
    text-decoration-color: #d10a42;
    text-decoration-thickness: 2px;
    text-underline-offset: 9px;
  }

  &:disabled {
    color: #102654;
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-color: hsl(221, 68%, 20%, 0.3);
    text-decoration-thickness: 2px;
    text-underline-offset: 9px;
    pointer-events: none;
  }
}

@media (min-width: $tablet-width) {
  .tab-button {
    max-width: 310px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .tab-button__button {
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .tab-button {
    max-width: 350px;
    margin-bottom: 40px;
  }

  .tab-button__button {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;

    &--active {
      text-underline-offset: 11px;
    }

    &:hover {
      text-underline-offset: 11px;
    }

    &:focus-visible {
      text-underline-offset: 11px;
    }
  }
}
